In [ ]:
import pandas as pd

# Data Cleaning

In [ ]:
df = pd.read_csv("merged_dataset_not_cleaned.csv")

In [ ]:
df.head()

,Name,County,Date,Start Date and Time,End Date and Time,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,...,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope
0,IronGate Fire,Siskiyou,2019-06-16,2019-06-16 20:33:00+00:00,2019-06-21 14:23:00+00:00,41.946220,-122.401570,10.0,4.743056,91.3,...,25.3,190.96,1.0,33.43,579.5,35.5,-1.530000,3881.0,795,1.246815
1,Bikeway Fire,Alameda,2019-07-05,2019-07-05 09:46:01+00:00,2019-07-05 03:20:00+00:00,37.469000,-121.369700,25.0,-0.268067,94.0,...,NaN,311.29,1.5,45.12,504.0,30.8,2.480000,4119.0,747,20.547216
2,Snowstorm Fire,Lassen,2019-07-05,2019-07-05 16:37:04+00:00,2019-07-06 07:49:00+00:00,40.679318,-120.392768,263.0,0.633287,87.9,...,NaN,208.89,2.6,35.66,343.3,28.4,5.549999,3226.0,1556,4.434863
3,Hollow Fire,San Joaquin,2019-07-03,2019-07-03 15:34:12+00:00,2019-07-05 07:50:00+00:00,37.632060,-121.538382,283.0,1.677639,82.5,...,24.2,274.58,3.8,61.34,482.4,31.3,2.600000,1862.0,195,6.562916
4,Merced Fire,Merced,2019-06-29,2019-06-29 15:09:52+00:00,2019-07-02 15:51:00+00:00,37.312877,-120.242411,210.0,3.028565,88.2,...,51.7,314.58,0.0,44.68,507.1,31.0,1.549999,2375.0,93,0.927410

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 772 non-null    object
 1   County               771 non-null    object
 2   Date                 772 non-null    object
 3   Start Date and Time  772 non-null    object
 4   End Date and Time    611 non-null    object
 5   Latitude             772 non-null    float64
 6   Longitude            772 non-null    float64
 7   Acres Burned         756 non-null    float64
 8   Duration             611 non-null    float64
 9   Maximum Temperature  766 non-null    float64
 10  Minimum Temperature  766 non-null    float64
 11  Temperature          766 non-null    float64
 12  Dew Point            765 non-null    float64
 13  Precipitation        772 non-null    float64
 14  Wind Speed           766 non-null    float64
 15  Wind Gust            589 non-null    float64
 16  Wind Direction       766 non-null    float64
 17  Cloud Cover          765 non-null    float64
 18  Relative Humidity    765 non-null    float64
 19  Solar Radiation      751 non-null    float64
 20  Solar Energy         751 non-null    float64
 21  PDSI                 771 non-null    float64
 22  NDVI                 767 non-null    float64
 23  Elevation            772 non-null    int64
 24  Slope                772 non-null    float64
dtypes: float64(19), int64(1), object(5)
memory usage: 150.9+ KB

In [ ]:
df.columns

Index(['Name', 'County', 'Date', 'Start Date and Time', 'End Date and Time',
       'Latitude', 'Longitude', 'Acres Burned', 'Duration',
       'Maximum Temperature', 'Minimum Temperature', 'Temperature',
       'Dew Point', 'Precipitation', 'Wind Speed', 'Wind Gust',
       'Wind Direction', 'Cloud Cover', 'Relative Humidity', 'Solar Radiation',
       'Solar Energy', 'PDSI', 'NDVI', 'Elevation', 'Slope'],
      dtype='object')

In [ ]:
df.describe()

,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,Minimum Temperature,Temperature,Dew Point,Precipitation,Wind Speed,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope
count,772.000000,772.000000,7.560000e+02,611.000000,766.000000,766.000000,766.000000,765.000000,772.000000,766.000000,589.000000,766.000000,765.000000,765.000000,751.000000,751.000000,771.000000,767.000000,772.000000,772.000000
mean,37.369828,-120.265851,9.492021e+03,15.199747,87.449347,58.601305,72.529373,44.021046,0.004301,14.914621,26.501868,207.878055,11.451895,42.960889,406.143542,23.899334,-1.359170,4031.308996,551.072539,8.501910
std,2.590080,2.749418,6.252553e+04,36.959680,11.763166,9.986184,10.271059,12.134597,0.091984,5.445693,8.226906,63.612006,17.649677,16.783268,103.516396,7.045521,2.815369,1659.645880,533.781870,8.236256
min,32.557546,-124.199540,2.000000e+00,-1.000602,50.800000,13.400000,30.800000,-8.600000,0.000000,3.300000,11.400000,40.000000,0.000000,6.290000,35.500000,1.500000,-8.520000,697.000000,-67.000000,0.000000
25%,34.800016,-121.931812,4.500000e+01,0.838866,80.200000,52.700000,66.300000,38.400000,0.000000,11.125000,20.800000,162.625000,0.000000,30.490000,339.100000,19.000000,-3.440000,2719.500000,162.500000,2.901299
50%,37.778075,-120.842110,1.205000e+02,2.720775,89.150000,58.500000,73.000000,47.000000,0.000000,14.000000,25.200000,206.970000,3.100000,41.120000,421.300000,24.700000,-1.890000,3629.000000,390.000000,5.414310
75%,39.319310,-118.788342,5.245000e+02,8.073125,96.475000,65.200000,80.000000,52.600000,0.000000,17.575000,31.200000,257.347500,15.400000,53.680000,486.700000,28.500000,1.400000,5059.000000,747.000000,11.501902
max,44.734000,-80.491630,1.032648e+06,218.874306,116.000000,86.800000,101.800000,65.900000,2.550000,42.500000,68.400000,340.130000,99.800000,97.600000,634.300000,52.300000,6.629999,8982.000000,2924.000000,60.446682

In [ ]:
# Checking outliers for certain columns

#from scipy import stats


#numerical_columns = [
    #'Maximum Temperature',
    #'Minimum Temperature', 'Temperature', 'Dew Point', 'Precipitation',
    #'Wind Speed', 'Wind Gust', 'Wind Direction', 'Cloud Cover',
    #'Relative Humidity', 'Solar Radiation', 'Solar Energy', 'PDSI', 'NDVI'
#]

#outliers_count = {}

#for column in numerical_columns:
    #z_scores = stats.zscore(df[column])
    #outliers = (abs(z_scores) > 2).sum()
    #outliers_count[column] = outliers

#print(outliers_count)

In [ ]:
df = df.dropna(subset=['Maximum Temperature'])

df.reset_index(drop=True, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 766 non-null    object
 1   County               765 non-null    object
 2   Date                 766 non-null    object
 3   Start Date and Time  766 non-null    object
 4   End Date and Time    607 non-null    object
 5   Latitude             766 non-null    float64
 6   Longitude            766 non-null    float64
 7   Acres Burned         750 non-null    float64
 8   Duration             607 non-null    float64
 9   Maximum Temperature  766 non-null    float64
 10  Minimum Temperature  766 non-null    float64
 11  Temperature          766 non-null    float64
 12  Dew Point            765 non-null    float64
 13  Precipitation        766 non-null    float64
 14  Wind Speed           766 non-null    float64
 15  Wind Gust            589 non-null    float64
 16  Wind Direction       766 non-null    float64
 17  Cloud Cover          765 non-null    float64
 18  Relative Humidity    765 non-null    float64
 19  Solar Radiation      751 non-null    float64
 20  Solar Energy         751 non-null    float64
 21  PDSI                 765 non-null    float64
 22  NDVI                 761 non-null    float64
 23  Elevation            766 non-null    int64
 24  Slope                766 non-null    float64
dtypes: float64(19), int64(1), object(5)
memory usage: 149.7+ KB

In [ ]:
missing_values_count = df['Acres Burned'].isna().sum()
print(f"Number of missing values in the 'Acres Burned' column: {missing_values_count}")

Number of missing values in the 'Acres Burned' column: 16

In [ ]:
df = df.dropna(subset=['Acres Burned', 'Dew Point', 'Cloud Cover', 'Relative Humidity', 'Solar Radiation',
                       'Solar Energy', 'PDSI', 'NDVI'])

df.reset_index(drop=True, inplace=True)

In [ ]:
# Imputing option

#from sklearn.impute import KNNImputer


#columns_to_impute = [
    #'Dew Point', 'Cloud Cover', 'Relative Humidity', 'Solar Radiation',
    #'Solar Energy', 'PDSI', 'NDVI'
#]

# Create a KNNImputer instance with the desired number of neighbors (e.g., 5)
#imputer = KNNImputer(n_neighbors=5)

# Fit and transform the specified columns using the KNNImputer
#df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])

# Check if there are any missing values left in the specified columns
#print(df[columns_to_impute].isna().sum())

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 730 non-null    object
 1   County               729 non-null    object
 2   Date                 730 non-null    object
 3   Start Date and Time  730 non-null    object
 4   End Date and Time    577 non-null    object
 5   Latitude             730 non-null    float64
 6   Longitude            730 non-null    float64
 7   Acres Burned         730 non-null    float64
 8   Duration             577 non-null    float64
 9   Maximum Temperature  730 non-null    float64
 10  Minimum Temperature  730 non-null    float64
 11  Temperature          730 non-null    float64
 12  Dew Point            730 non-null    float64
 13  Precipitation        730 non-null    float64
 14  Wind Speed           730 non-null    float64
 15  Wind Gust            559 non-null    float64
 16  Wind Direction       730 non-null    float64
 17  Cloud Cover          730 non-null    float64
 18  Relative Humidity    730 non-null    float64
 19  Solar Radiation      730 non-null    float64
 20  Solar Energy         730 non-null    float64
 21  PDSI                 730 non-null    float64
 22  NDVI                 730 non-null    float64
 23  Elevation            730 non-null    int64
 24  Slope                730 non-null    float64
dtypes: float64(19), int64(1), object(5)
memory usage: 142.7+ KB

In [ ]:
df.describe()

# By looking at the minimum and maximum values of each variable, there does not seem to be
# any errors in the data, given the nature of the data (weather, drought index, etc)

,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,Minimum Temperature,Temperature,Dew Point,Precipitation,Wind Speed,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope
count,730.000000,730.000000,7.300000e+02,577.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,559.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,37.363906,-120.250893,9.077184e+03,13.656215,87.778219,58.893151,72.826438,44.620411,0.004521,14.846712,26.340072,209.443986,11.582055,43.439753,406.955068,24.004932,-1.386767,3991.630137,539.932877,8.379017
std,2.601730,2.781378,6.271826e+04,35.863353,11.505986,9.682741,9.973637,11.779446,0.094591,5.340296,8.133990,63.291664,17.878845,16.790716,103.527353,7.048428,2.832784,1646.293355,514.551259,8.264461
min,32.557546,-124.199540,2.000000e+00,-1.000602,50.800000,18.500000,32.800000,-5.200000,0.000000,3.300000,11.400000,40.000000,0.000000,6.290000,35.500000,1.500000,-8.520000,697.000000,-61.000000,0.000000
25%,34.819508,-121.907306,4.500000e+01,0.787662,80.500000,53.000000,66.600000,39.500000,0.000000,11.200000,20.800000,163.710000,0.000000,31.127500,339.425000,19.200000,-3.482500,2699.250000,163.000000,2.780288
50%,37.717988,-120.852580,1.200000e+02,2.585000,89.450000,58.800000,73.300000,47.450000,0.000000,14.000000,24.700000,208.810000,3.050000,41.745000,422.500000,25.000000,-1.960000,3586.000000,388.000000,5.213723
75%,39.322326,-118.778428,4.930000e+02,7.252940,96.600000,65.300000,80.000000,52.875000,0.000000,17.300000,31.100000,258.482500,15.600000,53.802500,487.225000,28.600000,1.390000,4976.000000,746.500000,11.046913
max,44.734000,-80.491630,1.032648e+06,218.874306,116.000000,85.000000,101.800000,65.900000,2.550000,42.500000,68.400000,340.130000,99.800000,97.600000,634.300000,52.300000,6.629999,8982.000000,2743.000000,60.446682

In [ ]:
df = df.drop(columns=['County', 'Start Date and Time', 'End Date and Time', 'Duration'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 730 non-null    object
 1   Date                 730 non-null    object
 2   Latitude             730 non-null    float64
 3   Longitude            730 non-null    float64
 4   Acres Burned         730 non-null    float64
 5   Maximum Temperature  730 non-null    float64
 6   Minimum Temperature  730 non-null    float64
 7   Temperature          730 non-null    float64
 8   Dew Point            730 non-null    float64
 9   Precipitation        730 non-null    float64
 10  Wind Speed           730 non-null    float64
 11  Wind Gust            559 non-null    float64
 12  Wind Direction       730 non-null    float64
 13  Cloud Cover          730 non-null    float64
 14  Relative Humidity    730 non-null    float64
 15  Solar Radiation      730 non-null    float64
 16  Solar Energy         730 non-null    float64
 17  PDSI                 730 non-null    float64
 18  NDVI                 730 non-null    float64
 19  Elevation            730 non-null    int64
 20  Slope                730 non-null    float64
dtypes: float64(18), int64(1), object(2)
memory usage: 119.9+ KB

In [ ]:
# Filling in the missing wind gust values with the corresponding wind speed (since according to the
# Weather Crossing Documentation, a missing value means that the wind gust was not significantly
# greater than the wind speed)

df['Wind Gust'] = df['Wind Gust'].fillna(df['Wind Speed'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 730 non-null    object
 1   Date                 730 non-null    object
 2   Latitude             730 non-null    float64
 3   Longitude            730 non-null    float64
 4   Acres Burned         730 non-null    float64
 5   Maximum Temperature  730 non-null    float64
 6   Minimum Temperature  730 non-null    float64
 7   Temperature          730 non-null    float64
 8   Dew Point            730 non-null    float64
 9   Precipitation        730 non-null    float64
 10  Wind Speed           730 non-null    float64
 11  Wind Gust            730 non-null    float64
 12  Wind Direction       730 non-null    float64
 13  Cloud Cover          730 non-null    float64
 14  Relative Humidity    730 non-null    float64
 15  Solar Radiation      730 non-null    float64
 16  Solar Energy         730 non-null    float64
 17  PDSI                 730 non-null    float64
 18  NDVI                 730 non-null    float64
 19  Elevation            730 non-null    int64
 20  Slope                730 non-null    float64
dtypes: float64(18), int64(1), object(2)
memory usage: 119.9+ KB

# Data Transformation

In [ ]:
# Calculating the Wildfire Severity score using 3 different metrics

df['Acres_Burned_Normalized'] = (df['Acres Burned'] - df['Acres Burned'].min()) / (df['Acres Burned'].max() - df['Acres Burned'].min())

df['Wildfire_Scale_Acres_Normalized'] = pd.cut(df['Acres_Burned_Normalized'], bins=[0, 0.2, 0.4, 0.6, 0.8, 1], labels=[1, 2, 3, 4, 5], include_lowest=True)
df['Wildfire_Scale_Acres_Quantiles'] = pd.qcut(df['Acres Burned'], 5, labels=[1, 2, 3, 4, 5])

# Defining the scale similar to the NWCG class scale (https://www.nwcg.gov/term/glossary/size-class-of-fire)
# Did not include the original Class A (<1/4 acres), for instance Class B in the NWCG is Class "A",
# Class C in the NWCG is Class "B", and so forth in this case

def assign_class(acres):
    if acres > (1/4) and acres < 10:
        return 'A'
    elif acres >= 10 and acres < 100:
        return 'B'
    elif acres >= 100 and acres < 300:
        return 'C'
    elif acres >= 300 and acres < 1000:
        return 'D'
    elif acres >= 1000 and acres < 5000:
        return 'E'
    elif acres >= 5000:
        return 'F'

df['Wildfire_Scale_Acres_NWCG'] = df['Acres Burned'].apply(assign_class)

# Drop the 'Acres_Burned_Normalized' column
df = df.drop(columns=['Acres_Burned_Normalized'])

In [ ]:
# Dropping the 'Acres Burned' column

df = df.drop(columns=['Acres Burned'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Name                             730 non-null    object
 1   Date                             730 non-null    object
 2   Latitude                         730 non-null    float64
 3   Longitude                        730 non-null    float64
 4   Maximum Temperature              730 non-null    float64
 5   Minimum Temperature              730 non-null    float64
 6   Temperature                      730 non-null    float64
 7   Dew Point                        730 non-null    float64
 8   Precipitation                    730 non-null    float64
 9   Wind Speed                       730 non-null    float64
 10  Wind Gust                        730 non-null    float64
 11  Wind Direction                   730 non-null    float64
 12  Cloud Cover                      730 non-null    float64
 13  Relative Humidity                730 non-null    float64
 14  Solar Radiation                  730 non-null    float64
 15  Solar Energy                     730 non-null    float64
 16  PDSI                             730 non-null    float64
 17  NDVI                             730 non-null    float64
 18  Elevation                        730 non-null    int64
 19  Slope                            730 non-null    float64
 20  Wildfire_Scale_Acres_Normalized  730 non-null    category
 21  Wildfire_Scale_Acres_Quantiles   730 non-null    category
 22  Wildfire_Scale_Acres_NWCG        730 non-null    object
dtypes: category(2), float64(17), int64(1), object(3)
memory usage: 121.7+ KB

In [ ]:
# Calculating the variance inflation predictor of the predictor variables

In [ ]:
df.columns

Index(['Name', 'Date', 'Latitude', 'Longitude', 'Maximum Temperature',
       'Minimum Temperature', 'Temperature', 'Dew Point', 'Precipitation',
       'Wind Speed', 'Wind Gust', 'Wind Direction', 'Cloud Cover',
       'Relative Humidity', 'Solar Radiation', 'Solar Energy', 'PDSI', 'NDVI',
       'Elevation', 'Slope', 'Wildfire_Scale_Acres_Normalized',
       'Wildfire_Scale_Acres_Quantiles', 'Wildfire_Scale_Acres_NWCG'],
      dtype='object')

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

X_variable_list = ['Maximum Temperature',
       'Minimum Temperature', 'Temperature', 'Dew Point', 'Precipitation',
       'Wind Speed', 'Wind Gust', 'Wind Direction', 'Cloud Cover',
       'Relative Humidity', 'Solar Radiation', 'Solar Energy', 'PDSI', 'NDVI',
       'Elevation', 'Slope']

X = df[X_variable_list]

vif_df = pd.DataFrame()

vif_df["Feature"] = X_variable_list

vif_df["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]

vif_df

                Feature          VIF
0   Maximum Temperature  1426.006331
1   Minimum Temperature   650.259628
2           Temperature  3540.887605
3             Dew Point    93.326240
4         Precipitation     1.073682
5            Wind Speed    22.831483
6             Wind Gust    17.181762
7        Wind Direction    14.043159
8           Cloud Cover     2.629628
9     Relative Humidity    38.353097
10      Solar Radiation    60.811529
11         Solar Energy    49.221064
12                 PDSI     1.390265
13                 NDVI     8.464910
14            Elevation     2.496096
15                Slope     2.481507

In [ ]:
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

variables = [
    'Maximum Temperature', 'Minimum Temperature', 'Temperature', 'Dew Point',
    'Precipitation', 'Wind Speed', 'Wind Gust', 'Wind Direction', 'Cloud Cover',
    'Relative Humidity', 'Solar Radiation', 'Solar Energy', 'PDSI', 'NDVI',
    'Elevation', 'Slope'
]

# Remove rows with missing values in the selected variables
clean_df = df[variables]


variables_to_remove_list = []

# Set a VIF threshold (e.g., 5 or 10)
vif_threshold = 10

def calculate_vif(data):
    vif_data = pd.DataFrame()
    vif_data["Variable"] = data.columns
    vif_data["VIF"] = [variance_inflation_factor(data.values, i) for i in range(data.shape[1])]
    return vif_data

while True:
    vif_data = calculate_vif(clean_df)
    max_vif = vif_data['VIF'].max()

    if max_vif > vif_threshold:
        # Remove the variable with the highest VIF
        variable_to_remove = vif_data[vif_data['VIF'] == max_vif]['Variable'].values[0]
        variables_to_remove_list.append(variable_to_remove)
        clean_df.drop(columns=[variable_to_remove], inplace=True)
        print(f"Removed variable '{variable_to_remove}' with VIF {max_vif:.2f}")
    else:
        # Break the loop when no variable has VIF greater than the threshold
        break

print("\nFinal VIF for the remaining variables:")
print(calculate_vif(clean_df))

print(variables_to_remove_list)

Removed variable 'Temperature' with VIF 3540.89
Removed variable 'Minimum Temperature' with VIF 142.44
Removed variable 'Maximum Temperature' with VIF 65.77
Removed variable 'Solar Radiation' with VIF 56.72
Removed variable 'Dew Point' with VIF 29.12
Removed variable 'Wind Speed' with VIF 21.06
Removed variable 'Wind Direction' with VIF 11.68

Final VIF for the remaining variables:
            Variable       VIF
0      Precipitation  1.060301
1          Wind Gust  4.701452
2        Cloud Cover  2.114778
3  Relative Humidity  9.391608
4       Solar Energy  9.004204
5               PDSI  1.333433
6               NDVI  6.829910
7          Elevation  2.142142
8              Slope  2.395960
['Temperature', 'Minimum Temperature', 'Maximum Temperature', 'Solar Radiation', 'Dew Point', 'Wind Speed', 'Wind Direction']

/var/folders/00/j6ql7h7x2gd6rq5p5wx9240m0000gn/T/ipykernel_1374/1212556242.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.drop(columns=[variable_to_remove], inplace=True)
/var/folders/00/j6ql7h7x2gd6rq5p5wx9240m0000gn/T/ipykernel_1374/1212556242.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.drop(columns=[variable_to_remove], inplace=True)
/var/folders/00/j6ql7h7x2gd6rq5p5wx9240m0000gn/T/ipykernel_1374/1212556242.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.drop(columns=[variable_to_remove], inplace=True)
/var/folders/00/j6ql7h7x2gd6rq5p5wx9240m0000gn/T/ipykernel_1374/1212556242.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.drop(columns=[variable_to_remove], inplace=True)
/var/folders/00/j6ql7h7x2gd6rq5p5wx9240m0000gn/T/ipykernel_1374/1212556242.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.drop(columns=[variable_to_remove], inplace=True)
/var/folders/00/j6ql7h7x2gd6rq5p5wx9240m0000gn/T/ipykernel_1374/1212556242.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.drop(columns=[variable_to_remove], inplace=True)
/var/folders/00/j6ql7h7x2gd6rq5p5wx9240m0000gn/T/ipykernel_1374/1212556242.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df.drop(columns=[variable_to_remove], inplace=True)

In [ ]:
#df.corr()

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

X_variable_list = ['Maximum Temperature', 'Dew Point', 'Precipitation',
       'Wind Speed', 'Wind Gust', 'Wind Direction', 'Cloud Cover',
       'Relative Humidity', 'Solar Radiation', 'Solar Energy', 'PDSI', 'NDVI',
       'Elevation', 'Slope']

X = df[X_variable_list]

vif_df = pd.DataFrame()

vif_df["Feature"] = X_variable_list

vif_df["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]

vif_df

                Feature        VIF
0   Maximum Temperature  65.766863
1             Dew Point  65.471740
2         Precipitation   1.066648
3            Wind Speed  22.622881
4             Wind Gust  16.710365
5        Wind Direction  13.886055
6           Cloud Cover   2.195852
7     Relative Humidity  25.966694
8       Solar Radiation  60.310016
9          Solar Energy  47.995174
10                 PDSI   1.368613
11                 NDVI   8.235726
12            Elevation   2.262767
13                Slope   2.441683

In [ ]:
df.head()

,Name,Date,Latitude,Longitude,Maximum Temperature,Minimum Temperature,Temperature,Dew Point,Precipitation,Wind Speed,...,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope,Wildfire_Scale_Acres_Normalized,Wildfire_Scale_Acres_Quantiles,Wildfire_Scale_Acres_NWCG
0,IronGate Fire,2019-06-16,41.946220,-122.401570,91.3,53.1,73.4,40.3,0.0,20.9,...,33.43,579.5,35.5,-1.530000,3881.0,795,1.246815,1,1,B
1,Bikeway Fire,2019-07-05,37.469000,-121.369700,94.0,60.5,76.6,51.1,0.0,12.8,...,45.12,504.0,30.8,2.480000,4119.0,747,20.547216,1,1,B
2,Snowstorm Fire,2019-07-05,40.679318,-120.392768,87.9,50.1,71.0,38.7,0.0,12.8,...,35.66,343.3,28.4,5.549999,3226.0,1556,4.434863,1,4,C
3,Hollow Fire,2019-07-03,37.632060,-121.538382,82.5,55.8,67.0,51.9,0.0,14.4,...,61.34,482.4,31.3,2.600000,1862.0,195,6.562916,1,4,C
4,Merced Fire,2019-06-29,37.312877,-120.242411,88.2,54.2,72.7,47.3,0.0,13.1,...,44.68,507.1,31.0,1.549999,2375.0,93,0.927410,1,4,C

In [ ]:
# Removing variables with a high VIF

df = df.drop(variables_to_remove_list, axis = 1)

df.describe()

,Latitude,Longitude,Precipitation,Wind Gust,Cloud Cover,Relative Humidity,Solar Energy,PDSI,NDVI,Elevation,Slope
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,37.363906,-120.250893,0.004521,22.864932,11.582055,43.439753,24.004932,-1.386767,3991.630137,539.932877,8.379017
std,2.601730,2.781378,0.094591,9.632689,17.878845,16.790716,7.048428,2.832784,1646.293355,514.551259,8.264461
min,32.557546,-124.199540,0.000000,4.500000,0.000000,6.290000,1.500000,-8.520000,697.000000,-61.000000,0.000000
25%,34.819508,-121.907306,0.000000,16.100000,0.000000,31.127500,19.200000,-3.482500,2699.250000,163.000000,2.780288
50%,37.717988,-120.852580,0.000000,21.900000,3.050000,41.745000,25.000000,-1.960000,3586.000000,388.000000,5.213723
75%,39.322326,-118.778428,0.000000,28.900000,15.600000,53.802500,28.600000,1.390000,4976.000000,746.500000,11.046913
max,44.734000,-80.491630,2.550000,68.400000,99.800000,97.600000,52.300000,6.629999,8982.000000,2743.000000,60.446682

In [ ]:
# Exporting the dataframe before normalizing the variables

df.to_csv("transformed_dataset_pre-normalization.csv", index = False)

In [ ]:
# Normalize the predictor variables using min-max scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler

new_X_variable_list = [item for item in X_variable_list if item not in variables_to_remove_list]

print(new_X_variable_list)

# Creating a MinMaxScaler instance
scaler = MinMaxScaler()

# Applying min-max scaling to the specified columns
df[new_X_variable_list] = scaler.fit_transform(df[new_X_variable_list])

# Checking the result
df.head()

['Precipitation', 'Wind Gust', 'Cloud Cover', 'Relative Humidity', 'Solar Energy', 'PDSI', 'NDVI', 'Elevation', 'Slope']

,Name,Date,Latitude,Longitude,Precipitation,Wind Gust,Cloud Cover,Relative Humidity,Solar Energy,PDSI,NDVI,Elevation,Slope,Wildfire_Scale_Acres_Normalized,Wildfire_Scale_Acres_Quantiles,Wildfire_Scale_Acres_NWCG
0,IronGate Fire,2019-06-16,41.946220,-122.401570,0.0,0.325509,0.010020,0.297229,0.669291,0.461386,0.384309,0.305278,0.020627,1,1,B
1,Bikeway Fire,2019-07-05,37.469000,-121.369700,0.0,0.129890,0.015030,0.425255,0.576772,0.726073,0.413036,0.288160,0.339923,1,1,B
2,Snowstorm Fire,2019-07-05,40.679318,-120.392768,0.0,0.129890,0.026052,0.321652,0.529528,0.928713,0.305250,0.576676,0.073368,1,4,C
3,Hollow Fire,2019-07-03,37.632060,-121.538382,0.0,0.308294,0.038076,0.602891,0.586614,0.733993,0.140616,0.091298,0.108574,1,4,C
4,Merced Fire,2019-06-29,37.312877,-120.242411,0.0,0.738654,0.000000,0.420436,0.580709,0.664686,0.202535,0.054922,0.015343,1,4,C

In [ ]:
df.describe()

,Latitude,Longitude,Precipitation,Wind Gust,Cloud Cover,Relative Humidity,Solar Energy,PDSI,NDVI,Elevation,Slope
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,37.363906,-120.250893,0.001773,0.287401,0.116053,0.406853,0.443010,0.470840,0.397662,0.214313,0.138618
std,2.601730,2.781378,0.037094,0.150746,0.179147,0.183887,0.138749,0.186982,0.198708,0.183506,0.136723
min,32.557546,-124.199540,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.819508,-121.907306,0.000000,0.181534,0.000000,0.272013,0.348425,0.332508,0.241672,0.079886,0.045996
50%,37.717988,-120.852580,0.000000,0.272300,0.030561,0.388293,0.462598,0.433003,0.348702,0.160128,0.086253
75%,39.322326,-118.778428,0.000000,0.381847,0.156313,0.520343,0.533465,0.654125,0.516476,0.287981,0.182755
max,44.734000,-80.491630,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df['Wildfire_Scale_Acres_Normalized'].value_counts()

1    721
2      7
5      2
3      0
4      0
Name: Wildfire_Scale_Acres_Normalized, dtype: int64

In [ ]:
df['Wildfire_Scale_Acres_Quantiles'].value_counts()

1    147
2    146
3    146
5    146
4    145
Name: Wildfire_Scale_Acres_Quantiles, dtype: int64

In [ ]:
df['Wildfire_Scale_Acres_NWCG'].value_counts()

B    322
C    177
D     94
F     69
E     63
A      5
Name: Wildfire_Scale_Acres_NWCG, dtype: int64

In [ ]:
df = df.drop(['Wildfire_Scale_Acres_Normalized', 'Wildfire_Scale_Acres_Quantiles'], axis = 1)

In [ ]:
df.columns

Index(['Name', 'Date', 'Latitude', 'Longitude', 'Precipitation', 'Wind Gust',
       'Cloud Cover', 'Relative Humidity', 'Solar Energy', 'PDSI', 'NDVI',
       'Elevation', 'Slope', 'Wildfire_Scale_Acres_NWCG'],
      dtype='object')

In [ ]:
df.columns = ['Name', 'Date', 'Latitude', 'Longitude', 'Precipitation', 'Wind Gust',
       'Cloud Cover', 'Relative Humidity', 'Solar Energy', 'PDSI', 'NDVI',
       'Elevation', 'Slope', 'Severity_Class']

In [ ]:
df.to_csv("transformed_dataset.csv", index = False)

In [ ]:
df.head()

,Name,Date,Latitude,Longitude,Precipitation,Wind Gust,Cloud Cover,Relative Humidity,Solar Energy,PDSI,NDVI,Elevation,Slope,Severity_Class
0,IronGate Fire,2019-06-16,41.946220,-122.401570,0.0,0.325509,0.010020,0.297229,0.669291,0.461386,0.384309,0.305278,0.020627,B
1,Bikeway Fire,2019-07-05,37.469000,-121.369700,0.0,0.129890,0.015030,0.425255,0.576772,0.726073,0.413036,0.288160,0.339923,B
2,Snowstorm Fire,2019-07-05,40.679318,-120.392768,0.0,0.129890,0.026052,0.321652,0.529528,0.928713,0.305250,0.576676,0.073368,C
3,Hollow Fire,2019-07-03,37.632060,-121.538382,0.0,0.308294,0.038076,0.602891,0.586614,0.733993,0.140616,0.091298,0.108574,C
4,Merced Fire,2019-06-29,37.312877,-120.242411,0.0,0.738654,0.000000,0.420436,0.580709,0.664686,0.202535,0.054922,0.015343,C

In [ ]:
df.columns

Index(['Name', 'Date', 'Latitude', 'Longitude', 'Precipitation', 'Wind Gust',
       'Cloud Cover', 'Relative Humidity', 'Solar Energy', 'PDSI', 'NDVI',
       'Elevation', 'Slope', 'Severity_Class'],
      dtype='object')

# Data Preparation

In [ ]:
# Splitting into training, validation, and test sets with a 60-20-20 ratio:

from sklearn.model_selection import train_test_split

y = df['Severity_Class']

# Split the data into a 60-40 ratio
train_df, temp_df = train_test_split(df, test_size=0.4, stratify = df['Severity_Class'], random_state=42)

# Split the remaining 40% into equal halves for validation and testing (20% each)
val_df, test_df = train_test_split(temp_df, test_size=0.5, stratify=temp_df['Severity_Class'], random_state=42)

print("Training set size:", len(train_df))
print("Validation set size:", len(val_df))
print("Test set size:", len(test_df))

Training set size: 438
Validation set size: 146
Test set size: 146

In [ ]:
train_df['Severity_Class'].value_counts()

B    193
C    106
D     56
F     42
E     38
A      3
Name: Severity_Class, dtype: int64

In [ ]:
val_df['Severity_Class'].value_counts()

B    64
C    36
D    19
F    14
E    12
A     1
Name: Severity_Class, dtype: int64

In [ ]:
test_df['Severity_Class'].value_counts()

B    65
C    35
D    19
F    13
E    13
A     1
Name: Severity_Class, dtype: int64

In [ ]:
train_df.head()

,Name,Date,Latitude,Longitude,Precipitation,Wind Gust,Cloud Cover,Relative Humidity,Solar Energy,PDSI,NDVI,Elevation,Slope,Severity_Class
51,Patterson Fire,2019-08-15,38.652475,-120.826165,0.000000,0.147105,0.000000,0.202278,0.448819,0.728053,0.686783,0.149429,0.039273,B
185,Sobrante Fire,2019-11-01,33.849906,-117.461363,0.000000,0.237872,0.000000,0.074800,0.303150,0.631683,0.183464,0.175107,0.063999,B
130,Inghram Fire,2019-10-09,39.847708,-122.160416,0.000000,0.552426,0.000000,0.138758,0.336614,0.710891,0.309596,0.045649,0.050136,B
234,McGary Fire,2020-06-05,38.196893,-122.156313,0.003922,0.615023,0.081162,0.647465,0.500000,0.312871,0.447677,0.034237,0.096192,B
679,Gold Fire,2020-07-20,41.110370,-120.923293,0.000000,0.107981,0.000000,0.250137,0.547244,0.413861,0.243452,0.502140,0.015343,F

In [ ]:
val_df.head()

,Name,Date,Latitude,Longitude,Precipitation,Wind Gust,Cloud Cover,Relative Humidity,Solar Energy,PDSI,NDVI,Elevation,Slope,Severity_Class
715,Ranch Fire (Mendocino Complex),2018-07-27,39.243283,-123.103367,0.0,0.381847,0.000000,0.323294,0.553150,0.444224,0.321424,0.173324,0.238272,F
581,Canyon Fire,2022-06-23,37.642217,-121.903018,0.0,0.190923,0.027054,0.392838,0.500000,0.301650,0.623054,0.073823,0.154398,B
504,Roadside Fire,2021-08-28,34.251450,-117.454600,0.0,0.289515,0.067134,0.365896,0.478346,0.402640,0.268316,0.288160,0.030677,B
15,South Fire,2019-07-14,34.366111,-118.960000,0.0,0.103286,0.689379,0.844924,0.309055,0.683828,0.422812,0.060628,0.015343,C
487,Hungry Fire,2021-07-31,34.747925,-118.821793,0.0,0.395931,0.005010,0.171504,0.561024,0.314852,0.173687,0.380528,0.030677,D

In [ ]:
test_df.head()

,Name,Date,Latitude,Longitude,Precipitation,Wind Gust,Cloud Cover,Relative Humidity,Solar Energy,PDSI,NDVI,Elevation,Slope,Severity_Class
220,Horn Fire,2020-06-02,40.809323,-120.288882,0.0,0.215962,0.031062,0.459643,0.578740,0.695710,0.215932,0.598787,0.025418,B
325,R-1 Fire,2020-08-11,40.590714,-120.549595,0.0,0.237872,0.025050,0.358887,0.324803,0.467987,0.160652,0.720399,0.149561,C
23,Rains Fire,2019-07-18,37.420988,-121.371276,0.0,0.272300,0.135271,0.544519,0.566929,0.736634,0.401569,0.147290,0.191175,B
663,Crews Fire,2020-07-05,37.034839,-121.501532,0.0,0.255086,0.004008,0.519111,0.564961,0.444885,0.286180,0.092725,0.059592,F
442,Equestrian Fire,2021-06-16,38.799880,-121.012730,0.0,0.040689,0.000000,0.198883,0.537402,0.237624,0.419916,0.173680,0.240963,B