In [ ]:
import pandas as pd

In [ ]:
wildfire_data = pd.read_csv("mapdata_wildfires.csv")

In [ ]:
wildfire_data.head()

,incident_name,incident_is_final,incident_date_last_update,incident_date_created,incident_administrative_unit,incident_administrative_unit_url,incident_county,incident_location,incident_acres_burned,incident_containment,...,incident_latitude,incident_type,incident_id,incident_url,incident_date_extinguished,incident_dateonly_extinguished,incident_dateonly_created,is_active,calfire_incident,notification_desired
0,IronGate Fire,Y,2019-07-03T13:12:42Z,2019-06-16T20:33:00Z,CAL FIRE Siskiyou Unit,NaN,Siskiyou,"Deer Run Road, east of Iron Gate Reservoir",10.0,100.0,...,41.946220,Wildfire,fe63d965-9069-4a96-b9da-99d5fefdaa19,https://www.fire.ca.gov/incidents/2019/6/16/ir...,2019-06-21T14:23:00Z,2019-06-21,2019-06-16,N,True,False
1,Bikeway Fire,Y,2019-07-05T09:46:01Z,2019-07-05T09:46:01Z,CAL FIRE Santa Clara Unit,NaN,Alameda,"Christensen Road, Near Bethany Reservoir",25.0,100.0,...,37.469000,Wildfire,65e8fbe1-5300-4c90-9f48-0e7bfe55b1bc,https://www.fire.ca.gov/incidents/2019/7/5/bik...,2019-07-05T03:20:00Z,2019-07-05,2019-07-05,N,True,False
2,Snowstorm Fire,Y,2019-07-08T07:49:17Z,2019-07-05T16:37:04Z,Susanville Bureau of Land Management,NaN,Lassen,"Snowstorm Rd, south of Ravendale",263.0,100.0,...,40.679318,Wildfire,0f965f2f-3977-4ba5-bf7c-29feef27ee82,https://www.fire.ca.gov/incidents/2019/7/5/sno...,2019-07-06T07:49:00Z,2019-07-06,2019-07-05,N,False,False
3,Hollow Fire,Y,2019-07-08T07:50:42Z,2019-07-03T15:34:12Z,CAL FIRE Santa Clara Unit,NaN,San Joaquin,"West Corral Hollow Road, Carnegie State Vehicu...",283.0,100.0,...,37.632060,Wildfire,89db8bb4-6e3b-4de7-b7d9-287c1a9032c0,https://www.fire.ca.gov/incidents/2019/7/3/hol...,2019-07-05T07:50:00Z,2019-07-05,2019-07-03,N,True,False
4,Merced Fire,Y,2019-07-08T07:51:01Z,2019-06-29T15:09:52Z,CAL FIRE Madera- Mariposa- Merced Unit,NaN,Merced,"Off of Merced Fall Road and La Grange Road, Ea...",210.0,100.0,...,37.312877,Wildfire,cc06431a-5153-4f66-8ada-07af53c175c3,https://www.fire.ca.gov/incidents/2019/6/29/me...,2019-07-02T15:51:00Z,2019-07-02,2019-06-29,N,True,False

In [ ]:
wildfire_data.columns

Index(['incident_name', 'incident_is_final', 'incident_date_last_update',
       'incident_date_created', 'incident_administrative_unit',
       'incident_administrative_unit_url', 'incident_county',
       'incident_location', 'incident_acres_burned', 'incident_containment',
       'incident_control', 'incident_cooperating_agencies',
       'incident_longitude', 'incident_latitude', 'incident_type',
       'incident_id', 'incident_url', 'incident_date_extinguished',
       'incident_dateonly_extinguished', 'incident_dateonly_created',
       'is_active', 'calfire_incident', 'notification_desired'],
      dtype='object')

In [ ]:
wildfire_data_columns_to_drop = ['incident_is_final', 'incident_date_last_update', 'incident_administrative_unit',
       'incident_administrative_unit_url', 'incident_location', 'incident_containment', 'incident_control', 'incident_cooperating_agencies','incident_type', 'incident_id', 'incident_url', 'incident_dateonly_extinguished', 'is_active', 'calfire_incident', 'notification_desired' ]

In [ ]:
wildfire_data = wildfire_data.drop(wildfire_data_columns_to_drop, axis = 1)

In [ ]:
wildfire_data.head()

,incident_name,incident_date_created,incident_county,incident_acres_burned,incident_longitude,incident_latitude,incident_date_extinguished,incident_dateonly_created
0,IronGate Fire,2019-06-16T20:33:00Z,Siskiyou,10.0,-122.401570,41.946220,2019-06-21T14:23:00Z,2019-06-16
1,Bikeway Fire,2019-07-05T09:46:01Z,Alameda,25.0,-121.369700,37.469000,2019-07-05T03:20:00Z,2019-07-05
2,Snowstorm Fire,2019-07-05T16:37:04Z,Lassen,263.0,-120.392768,40.679318,2019-07-06T07:49:00Z,2019-07-05
3,Hollow Fire,2019-07-03T15:34:12Z,San Joaquin,283.0,-121.538382,37.632060,2019-07-05T07:50:00Z,2019-07-03
4,Merced Fire,2019-06-29T15:09:52Z,Merced,210.0,-120.242411,37.312877,2019-07-02T15:51:00Z,2019-06-29

In [ ]:
wildfire_data.columns

Index(['incident_name', 'incident_date_created', 'incident_county',
       'incident_acres_burned', 'incident_longitude', 'incident_latitude',
       'incident_date_extinguished', 'incident_dateonly_created'],
      dtype='object')

In [ ]:
wildfire_data_column_order = ['incident_name', 'incident_county', 'incident_dateonly_created',
                             'incident_date_created','incident_date_extinguished',  'incident_latitude',
                             'incident_longitude', 'incident_acres_burned']

In [ ]:
wildfire_data = wildfire_data[wildfire_data_column_order]

In [ ]:
wildfire_data.head()

,incident_name,incident_county,incident_dateonly_created,incident_date_created,incident_date_extinguished,incident_latitude,incident_longitude,incident_acres_burned
0,IronGate Fire,Siskiyou,2019-06-16,2019-06-16T20:33:00Z,2019-06-21T14:23:00Z,41.946220,-122.401570,10.0
1,Bikeway Fire,Alameda,2019-07-05,2019-07-05T09:46:01Z,2019-07-05T03:20:00Z,37.469000,-121.369700,25.0
2,Snowstorm Fire,Lassen,2019-07-05,2019-07-05T16:37:04Z,2019-07-06T07:49:00Z,40.679318,-120.392768,263.0
3,Hollow Fire,San Joaquin,2019-07-03,2019-07-03T15:34:12Z,2019-07-05T07:50:00Z,37.632060,-121.538382,283.0
4,Merced Fire,Merced,2019-06-29,2019-06-29T15:09:52Z,2019-07-02T15:51:00Z,37.312877,-120.242411,210.0

In [ ]:
wildfire_data.columns = ['Name', 'County', 'Date', 'Start Date and Time', 'End Date and Time', 'Latitude', 'Longitude', 'Acres Burned']

In [ ]:
wildfire_data.head()

,Name,County,Date,Start Date and Time,End Date and Time,Latitude,Longitude,Acres Burned
0,IronGate Fire,Siskiyou,2019-06-16,2019-06-16T20:33:00Z,2019-06-21T14:23:00Z,41.946220,-122.401570,10.0
1,Bikeway Fire,Alameda,2019-07-05,2019-07-05T09:46:01Z,2019-07-05T03:20:00Z,37.469000,-121.369700,25.0
2,Snowstorm Fire,Lassen,2019-07-05,2019-07-05T16:37:04Z,2019-07-06T07:49:00Z,40.679318,-120.392768,263.0
3,Hollow Fire,San Joaquin,2019-07-03,2019-07-03T15:34:12Z,2019-07-05T07:50:00Z,37.632060,-121.538382,283.0
4,Merced Fire,Merced,2019-06-29,2019-06-29T15:09:52Z,2019-07-02T15:51:00Z,37.312877,-120.242411,210.0

In [ ]:
wildfire_data['Start Date and Time'] = pd.to_datetime(wildfire_data['Start Date and Time'])
wildfire_data['End Date and Time'] = pd.to_datetime(wildfire_data['End Date and Time'])
wildfire_data['Duration'] = (wildfire_data['End Date and Time'] - wildfire_data['Start Date and Time']) / pd.Timedelta('1 day')

In [ ]:
wildfire_data.head()

,Name,County,Date,Start Date and Time,End Date and Time,Latitude,Longitude,Acres Burned,Duration
0,IronGate Fire,Siskiyou,2019-06-16,2019-06-16 20:33:00+00:00,2019-06-21 14:23:00+00:00,41.946220,-122.401570,10.0,4.743056
1,Bikeway Fire,Alameda,2019-07-05,2019-07-05 09:46:01+00:00,2019-07-05 03:20:00+00:00,37.469000,-121.369700,25.0,-0.268067
2,Snowstorm Fire,Lassen,2019-07-05,2019-07-05 16:37:04+00:00,2019-07-06 07:49:00+00:00,40.679318,-120.392768,263.0,0.633287
3,Hollow Fire,San Joaquin,2019-07-03,2019-07-03 15:34:12+00:00,2019-07-05 07:50:00+00:00,37.632060,-121.538382,283.0,1.677639
4,Merced Fire,Merced,2019-06-29,2019-06-29 15:09:52+00:00,2019-07-02 15:51:00+00:00,37.312877,-120.242411,210.0,3.028565

In [ ]:
len(wildfire_data[wildfire_data['Duration'] < 0])

31

In [ ]:
weather_data = pd.read_csv("weather_data_wildfires.csv")

In [ ]:
weather_data.head()

,Latitude,Longitude,Date,Maximum Temperature,Minimum Temperature,Temperature,Dew Point,Wind Chill,Heat Index,Precipitation,...,Wind Direction,Visibility,Cloud Cover,Relative Humidity,Sea Level Pressure,Solar Radiation,Solar Energy,Weather Type,Info,Conditions
0,41.946220,-122.401570,2019-06-16,91.3,53.1,73.4,40.3,NaN,87.2,0.0,...,190.96,9.9,1.0,33.43,1013.7,579.5,35.5,NaN,NaN,Clear
1,37.469000,-121.369700,2019-07-05,94.0,60.5,76.6,51.1,NaN,90.5,0.0,...,311.29,9.1,1.5,45.12,1013.6,504.0,30.8,"Mist, Smoke Or Haze",NaN,Clear
2,40.679318,-120.392768,2019-07-05,87.9,50.1,71.0,38.7,NaN,84.2,0.0,...,208.89,9.9,2.6,35.66,1019.5,343.3,28.4,NaN,NaN,Clear
3,37.632060,-121.538382,2019-07-03,82.5,55.8,67.0,51.9,NaN,81.4,0.0,...,274.58,9.5,3.8,61.34,1012.2,482.4,31.3,NaN,NaN,Clear
4,37.312877,-120.242411,2019-06-29,88.2,54.2,72.7,47.3,NaN,85.1,0.0,...,314.58,9.9,0.0,44.68,1015.0,507.1,31.0,NaN,NaN,Clear

In [ ]:
weather_data.columns

Index(['Latitude', 'Longitude', 'Date', 'Maximum Temperature',
       'Minimum Temperature', 'Temperature', 'Dew Point', 'Wind Chill',
       'Heat Index', 'Precipitation', 'Precipitation Cover', 'Snow',
       'Snow Depth', 'Wind Speed', 'Wind Gust', 'Wind Direction', 'Visibility',
       'Cloud Cover', 'Relative Humidity', 'Sea Level Pressure',
       'Solar Radiation', 'Solar Energy', 'Weather Type', 'Info',
       'Conditions'],
      dtype='object')

In [ ]:
weather_data_columns_to_drop = ['Wind Chill', 'Heat Index','Precipitation Cover', 'Snow', 'Snow Depth',
                                'Visibility','Sea Level Pressure',  'Weather Type', 'Info', 'Conditions']

In [ ]:
weather_data = weather_data.drop(weather_data_columns_to_drop, axis = 1)

In [ ]:
weather_data.head()

,Latitude,Longitude,Date,Maximum Temperature,Minimum Temperature,Temperature,Dew Point,Precipitation,Wind Speed,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy
0,41.946220,-122.401570,2019-06-16,91.3,53.1,73.4,40.3,0.0,20.9,25.3,190.96,1.0,33.43,579.5,35.5
1,37.469000,-121.369700,2019-07-05,94.0,60.5,76.6,51.1,0.0,12.8,NaN,311.29,1.5,45.12,504.0,30.8
2,40.679318,-120.392768,2019-07-05,87.9,50.1,71.0,38.7,0.0,12.8,NaN,208.89,2.6,35.66,343.3,28.4
3,37.632060,-121.538382,2019-07-03,82.5,55.8,67.0,51.9,0.0,14.4,24.2,274.58,3.8,61.34,482.4,31.3
4,37.312877,-120.242411,2019-06-29,88.2,54.2,72.7,47.3,0.0,13.1,51.7,314.58,0.0,44.68,507.1,31.0

In [ ]:
drought_index_data = pd.read_csv("drought_data_wildfires.csv")
vegatation_index_data = pd.read_csv("vegetation_indices_data_wildfires.csv")

In [ ]:
merged_data_1 = pd.merge(wildfire_data, weather_data, on=["Latitude", "Longitude", "Date"], how="inner")

# Merge merged_data_1 and drought_index_data
merged_data_2 = pd.merge(merged_data_1, drought_index_data, on=["Latitude", "Longitude", "Date"], how="inner")

# Merge merged_data_2 and vegatation_index_data to get the final merged dataframe
merged_data_final = pd.merge(merged_data_2, vegatation_index_data, on=["Latitude", "Longitude", "Date"], how="inner")

merged_data_final.head()

,Name,County,Date,Start Date and Time,End Date and Time,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,...,Precipitation,Wind Speed,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI
0,IronGate Fire,Siskiyou,2019-06-16,2019-06-16 20:33:00+00:00,2019-06-21 14:23:00+00:00,41.946220,-122.401570,10.0,4.743056,91.3,...,0.0,20.9,25.3,190.96,1.0,33.43,579.5,35.5,-1.530000,3881.0
1,Bikeway Fire,Alameda,2019-07-05,2019-07-05 09:46:01+00:00,2019-07-05 03:20:00+00:00,37.469000,-121.369700,25.0,-0.268067,94.0,...,0.0,12.8,NaN,311.29,1.5,45.12,504.0,30.8,2.480000,4119.0
2,Snowstorm Fire,Lassen,2019-07-05,2019-07-05 16:37:04+00:00,2019-07-06 07:49:00+00:00,40.679318,-120.392768,263.0,0.633287,87.9,...,0.0,12.8,NaN,208.89,2.6,35.66,343.3,28.4,5.549999,3226.0
3,Hollow Fire,San Joaquin,2019-07-03,2019-07-03 15:34:12+00:00,2019-07-05 07:50:00+00:00,37.632060,-121.538382,283.0,1.677639,82.5,...,0.0,14.4,24.2,274.58,3.8,61.34,482.4,31.3,2.600000,1862.0
4,Merced Fire,Merced,2019-06-29,2019-06-29 15:09:52+00:00,2019-07-02 15:51:00+00:00,37.312877,-120.242411,210.0,3.028565,88.2,...,0.0,13.1,51.7,314.58,0.0,44.68,507.1,31.0,1.549999,2375.0

In [ ]:
elevation_slope_data = pd.read_csv("elevation_slope_data_wildfires.csv")

In [ ]:
elevation_slope_data.head()

    Latitude   Longitude  Elevation      Slope
0  41.946220 -122.401570        795   1.246815
1  37.469000 -121.369700        747  20.547216
2  40.679318 -120.392768       1556   4.434863
3  37.632060 -121.538382        195   6.562916
4  37.312877 -120.242411         93   0.927410

In [ ]:
elevation_slope_data.columns = ["Latitude", "Longitude","Elevation","Slope"]

In [ ]:
merged_data_final2 = pd.merge(merged_data_final, elevation_slope_data, on=["Latitude", "Longitude"], how="inner")

In [ ]:
merged_data_final2.head()

,Name,County,Date,Start Date and Time,End Date and Time,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,...,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope
0,IronGate Fire,Siskiyou,2019-06-16,2019-06-16 20:33:00+00:00,2019-06-21 14:23:00+00:00,41.946220,-122.401570,10.0,4.743056,91.3,...,25.3,190.96,1.0,33.43,579.5,35.5,-1.530000,3881.0,795,1.246815
1,Bikeway Fire,Alameda,2019-07-05,2019-07-05 09:46:01+00:00,2019-07-05 03:20:00+00:00,37.469000,-121.369700,25.0,-0.268067,94.0,...,NaN,311.29,1.5,45.12,504.0,30.8,2.480000,4119.0,747,20.547216
2,Snowstorm Fire,Lassen,2019-07-05,2019-07-05 16:37:04+00:00,2019-07-06 07:49:00+00:00,40.679318,-120.392768,263.0,0.633287,87.9,...,NaN,208.89,2.6,35.66,343.3,28.4,5.549999,3226.0,1556,4.434863
3,Hollow Fire,San Joaquin,2019-07-03,2019-07-03 15:34:12+00:00,2019-07-05 07:50:00+00:00,37.632060,-121.538382,283.0,1.677639,82.5,...,24.2,274.58,3.8,61.34,482.4,31.3,2.600000,1862.0,195,6.562916
4,Merced Fire,Merced,2019-06-29,2019-06-29 15:09:52+00:00,2019-07-02 15:51:00+00:00,37.312877,-120.242411,210.0,3.028565,88.2,...,51.7,314.58,0.0,44.68,507.1,31.0,1.549999,2375.0,93,0.927410

In [ ]:
# Removing records with the acres burned missing

#merged_data_final2 = merged_data_final2.dropna(subset=['Acres Burned'])

# Reset the index after dropping rows
merged_data_final2.reset_index(drop=True, inplace=True)

In [ ]:
merged_data_final2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 806 non-null    object
 1   County               805 non-null    object
 2   Date                 806 non-null    object
 3   Start Date and Time  806 non-null    datetime64[ns, UTC]
 4   End Date and Time    630 non-null    datetime64[ns, UTC]
 5   Latitude             806 non-null    float64
 6   Longitude            806 non-null    float64
 7   Acres Burned         790 non-null    float64
 8   Duration             630 non-null    float64
 9   Maximum Temperature  800 non-null    float64
 10  Minimum Temperature  800 non-null    float64
 11  Temperature          800 non-null    float64
 12  Dew Point            799 non-null    float64
 13  Precipitation        806 non-null    float64
 14  Wind Speed           800 non-null    float64
 15  Wind Gust            621 non-null    float64
 16  Wind Direction       800 non-null    float64
 17  Cloud Cover          799 non-null    float64
 18  Relative Humidity    799 non-null    float64
 19  Solar Radiation      785 non-null    float64
 20  Solar Energy         785 non-null    float64
 21  PDSI                 805 non-null    float64
 22  NDVI                 801 non-null    float64
 23  Elevation            806 non-null    int64
 24  Slope                806 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(19), int64(1), object(3)
memory usage: 157.5+ KB

In [ ]:
merged_data_final2.describe()

,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,Minimum Temperature,Temperature,Dew Point,Precipitation,Wind Speed,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope
count,806.000000,806.000000,7.900000e+02,630.000000,800.000000,800.000000,800.000000,799.000000,806.000000,800.000000,621.000000,800.000000,799.000000,799.000000,785.000000,785.000000,805.000000,801.000000,806.000000,806.000000
mean,37.405780,-120.330382,9.098434e+03,14.763372,87.919125,59.057250,73.035375,44.148060,0.004119,15.043500,26.789855,208.246625,11.093992,42.383229,405.064713,23.935796,-1.461988,3978.013733,531.570720,8.199274
std,2.544931,2.710370,6.119181e+04,36.481635,11.760716,10.050422,10.383905,11.902461,0.090025,5.367492,8.107303,62.502975,17.492752,16.717496,102.588223,6.949101,2.805247,1645.049515,531.288862,8.189653
min,32.557546,-124.199540,2.000000e+00,-1.000602,50.800000,13.400000,30.800000,-8.600000,0.000000,3.300000,11.400000,40.000000,0.000000,6.290000,35.500000,1.500000,-8.520000,697.000000,-67.000000,0.000000
25%,34.996921,-121.977850,4.400000e+01,0.756519,80.500000,52.900000,66.575000,38.850000,0.000000,11.200000,20.800000,165.085000,0.100000,28.995000,341.400000,19.300000,-3.590000,2745.000000,139.750000,2.483548
50%,37.939921,-120.884568,1.205000e+02,2.656713,89.650000,59.000000,73.500000,47.400000,0.000000,14.400000,25.300000,207.460000,2.800000,40.010000,418.700000,25.300000,-2.060000,3557.000000,373.500000,5.114645
75%,39.250488,-118.854751,4.930000e+02,7.842329,97.100000,66.225000,80.725000,52.400000,0.000000,18.100000,32.200000,255.640000,14.900000,53.395000,484.200000,28.500000,1.320000,4977.000000,727.000000,10.641466
max,44.734000,-80.491630,1.032648e+06,218.874306,116.000000,86.800000,101.800000,65.900000,2.550000,42.500000,68.400000,340.130000,99.800000,97.600000,634.300000,52.300000,6.629999,8982.000000,2924.000000,60.446682

In [ ]:
# Outliers in the Acres Burned column based on the z score method

from scipy import stats
import numpy as np

z_scores = np.abs(stats.zscore(merged_data_final2['Acres Burned']))
outliers = np.where(z_scores > 2)

print(outliers)

outlier_values = merged_data_final2['Acres Burned'].iloc[outliers]
print(outlier_values)

(array([], dtype=int64),)
Series([], Name: Acres Burned, dtype: float64)

In [ ]:
# Outliers in the Acres Burned column based on the Isolation Forest algorithm

#from sklearn.ensemble import IsolationForest

# Initialize the Isolation Forest model
#iforest = IsolationForest(contamination=0.1)

# Reshape the Acres Burned data to fit the model
#acres_burned = merged_data_final2['Acres Burned'].values.reshape(-1, 1)

# Fit the model and predict outliers
#outlier_predictions = iforest.fit_predict(acres_burned)

# Get the indices of the detected outliers
#outlier_indices = np.where(outlier_predictions == -1)

# Print the outlier values
#outlier_values = merged_data_final2['Acres Burned'].iloc[outlier_indices]

#print(outlier_indices)
#print(outlier_values)

#print(list(outlier_indices[0]))

In [ ]:
# Creating another dataframe with the outliers in the Acres Burned column removed based the Isolation Forest Algorithm


# Remove rows with the specified indices
#merged_data_final2_no_outliers = merged_data_final2.drop(list(outlier_indices[0]))

# Reset the index of the new dataframe
#merged_data_final2_no_outliers.reset_index(drop=True, inplace=True)


#merged_data_final2_no_outliers.info()

In [ ]:
# Creating the merged dataset (with outliers in the Acres Burned included)


# Normalize the "Acres Burned" and "Duration" columns to a 0-1 scale
#merged_data_final2['Acres_Burned_Normalized'] = (merged_data_final2['Acres Burned'] - merged_data_final2['Acres Burned'].min()) / (merged_data_final2['Acres Burned'].max() - merged_data_final2['Acres Burned'].min())
#merged_data_final2['Duration_Normalized'] = (merged_data_final2['Duration'] - merged_data_final2['Duration'].min()) / (merged_data_final2['Duration'].max() - merged_data_final2['Duration'].min())

# Combine the normalized columns to create a single "Wildfire_Score" column
#weight_acres_burned = 0.5
#weight_duration = 0.5
#merged_data_final2['Wildfire_Score'] = weight_acres_burned * merged_data_final2['Acres_Burned_Normalized'] + weight_duration * merged_data_final2['Duration_Normalized']

# Divide the "Wildfire_Score" into five categories (1 to 5) and assign the "Wildfire_Scale" values
#merged_data_final2['Wildfire_Scale_Acres_and_Duration'] = pd.cut(merged_data_final2['Wildfire_Score'], bins=[0, 0.2, 0.4, 0.6, 0.8, 1], labels=[1, 2, 3, 4, 5], include_lowest=True)

#merged_data_final2['Wildfire_Scale_Acres_Normalized'] = pd.cut(merged_data_final2['Acres_Burned_Normalized'], bins=[0, 0.2, 0.4, 0.6, 0.8, 1], labels=[1, 2, 3, 4, 5], include_lowest=True)
#merged_data_final2['Wildfire_Scale_Acres_Quantiles'] = pd.qcut(merged_data_final2['Acres Burned'], 5, labels=[1, 2, 3, 4, 5])


# Defining the scale similar to the NWCG class scale (https://www.nwcg.gov/term/glossary/size-class-of-fire)
# Did not include the original Class A (<1/4 acres), for instance Class B in the NWCG is Class "A",
# Class C in the NWCG is Class "B", and so forth in this case

def assign_class(acres):
    if acres > (1/4) and acres < 10:
        return 'A'
    elif acres >= 10 and acres < 100:
        return 'B'
    elif acres >= 100 and acres < 300:
        return 'C'
    elif acres >= 300 and acres < 1000:
        return 'D'
    elif acres >= 1000 and acres < 5000:
        return 'E'
    elif acres >= 5000:
        return 'F'

#merged_data_final2['Wildfire_Scale_Acres_NWCG'] = merged_data_final2['Acres Burned'].apply(assign_class)



# Drop the 'Acres_Burned_Normalized' and 'Duration_Normalized' columns
#merged_data_final2 = merged_data_final2.drop(columns=['Acres_Burned_Normalized', 'Duration_Normalized'])


# Dropping the "Wildfire_Score" column in case a score using Acres and Duration is used
#merged_data_final2 = merged_data_final2.drop(columns=['Wildfire_Score'])


# Dropping the 'Acres Burned' column
#merged_data_final2 = merged_data_final2.drop(columns=['Acres Burned'])


merged_data_final2 = merged_data_final2.drop_duplicates()


merged_data_final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 772 entries, 0 to 805
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 772 non-null    object
 1   County               771 non-null    object
 2   Date                 772 non-null    object
 3   Start Date and Time  772 non-null    datetime64[ns, UTC]
 4   End Date and Time    611 non-null    datetime64[ns, UTC]
 5   Latitude             772 non-null    float64
 6   Longitude            772 non-null    float64
 7   Acres Burned         756 non-null    float64
 8   Duration             611 non-null    float64
 9   Maximum Temperature  766 non-null    float64
 10  Minimum Temperature  766 non-null    float64
 11  Temperature          766 non-null    float64
 12  Dew Point            765 non-null    float64
 13  Precipitation        772 non-null    float64
 14  Wind Speed           766 non-null    float64
 15  Wind Gust            589 non-null    float64
 16  Wind Direction       766 non-null    float64
 17  Cloud Cover          765 non-null    float64
 18  Relative Humidity    765 non-null    float64
 19  Solar Radiation      751 non-null    float64
 20  Solar Energy         751 non-null    float64
 21  PDSI                 771 non-null    float64
 22  NDVI                 767 non-null    float64
 23  Elevation            772 non-null    int64
 24  Slope                772 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(19), int64(1), object(3)
memory usage: 156.8+ KB

In [ ]:
merged_data_final2.to_csv("merged_dataset_not_cleaned.csv", index = False)

In [ ]:
# Creating the merged dataset (without outliers in the Acres Burned Column)


# Normalize the "Acres Burned" and "Duration" columns to a 0-1 scale
#merged_data_final2_no_outliers['Acres_Burned_Normalized'] = (merged_data_final2_no_outliers['Acres Burned'] - merged_data_final2_no_outliers['Acres Burned'].min()) / (merged_data_final2_no_outliers['Acres Burned'].max() - merged_data_final2_no_outliers['Acres Burned'].min())
#merged_data_final2_no_outliers['Duration_Normalized'] = (merged_data_final2_no_outliers['Duration'] - merged_data_final2_no_outliers['Duration'].min()) / (merged_data_final2_no_outliers['Duration'].max() - merged_data_final2_no_outliers['Duration'].min())

# Combine the normalized columns to create a single "Wildfire_Score" column
weight_acres_burned = 0.5
weight_duration = 0.5
#merged_data_final2_no_outliers['Wildfire_Score'] = weight_acres_burned * merged_data_final2_no_outliers['Acres_Burned_Normalized'] + weight_duration * merged_data_final2_no_outliers['Duration_Normalized']

# Divide the "Wildfire_Score" into five categories (1 to 5) and assign the "Wildfire_Scale" values
#merged_data_final2_no_outliers['Wildfire_Scale_Acres_and_Duration'] = pd.cut(merged_data_final2_no_outliers['Wildfire_Score'], bins=[0, 0.2, 0.4, 0.6, 0.8, 1], labels=[1, 2, 3, 4, 5], include_lowest=True)

#merged_data_final2_no_outliers['Wildfire_Scale_Acres_Normalized'] = pd.cut(merged_data_final2_no_outliers['Acres_Burned_Normalized'], bins=[0, 0.2, 0.4, 0.6, 0.8, 1], labels=[1, 2, 3, 4, 5], include_lowest=True)
#merged_data_final2_no_outliers['Wildfire_Scale_Acres_Quantiles'] = pd.qcut(merged_data_final2_no_outliers['Acres Burned'], 5, labels=[1, 2, 3, 4, 5])


# Defining the scale similar to the NWCG class scale (https://www.nwcg.gov/term/glossary/size-class-of-fire)
# Did not include the original Class A (<1/4 acres), for instance Class B in the NWCG is Class "A" for the merged data,
# Class C in the NWCG is Class "B", and so forth in this case

def assign_class(acres):
    if acres > (1/4) and acres < 10:
        return 'A'
    elif acres >= 10 and acres < 100:
        return 'B'
    elif acres >= 100 and acres < 300:
        return 'C'
    elif acres >= 300 and acres < 1000:
        return 'D'
    elif acres >= 1000 and acres < 5000:
        return 'E'
    elif acres >= 5000:
        return 'F'

#merged_data_final2_no_outliers['Wildfire_Scale_Acres_NWCG'] = merged_data_final2_no_outliers['Acres Burned'].apply(assign_class)



# Drop the 'Acres_Burned_Normalized' and 'Duration_Normalized' columns
#merged_data_final2_no_outliers = merged_data_final2_no_outliers.drop(columns=['Acres_Burned_Normalized', 'Duration_Normalized'])


# Dropping the "Wildfire_Score" column in case a score using Acres and Duration is used
#merged_data_final2_no_outliers = merged_data_final2_no_outliers.drop(columns=['Wildfire_Score'])


# Dropping the 'Acres Burned' column
#merged_data_final2_no_outliers = merged_data_final2_no_outliers.drop(columns=['Acres Burned'])


#merged_data_final2_no_outliers = merged_data_final2_no_outliers.drop_duplicates()


#merged_data_final2_no_outliers.to_csv("merged_dataset_no_outliers.csv", index = False)

In [ ]:
merged_data_final2.head()

,Name,County,Date,Start Date and Time,End Date and Time,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,...,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope
0,IronGate Fire,Siskiyou,2019-06-16,2019-06-16 20:33:00+00:00,2019-06-21 14:23:00+00:00,41.946220,-122.401570,10.0,4.743056,91.3,...,25.3,190.96,1.0,33.43,579.5,35.5,-1.530000,3881.0,795,1.246815
1,Bikeway Fire,Alameda,2019-07-05,2019-07-05 09:46:01+00:00,2019-07-05 03:20:00+00:00,37.469000,-121.369700,25.0,-0.268067,94.0,...,NaN,311.29,1.5,45.12,504.0,30.8,2.480000,4119.0,747,20.547216
2,Snowstorm Fire,Lassen,2019-07-05,2019-07-05 16:37:04+00:00,2019-07-06 07:49:00+00:00,40.679318,-120.392768,263.0,0.633287,87.9,...,NaN,208.89,2.6,35.66,343.3,28.4,5.549999,3226.0,1556,4.434863
3,Hollow Fire,San Joaquin,2019-07-03,2019-07-03 15:34:12+00:00,2019-07-05 07:50:00+00:00,37.632060,-121.538382,283.0,1.677639,82.5,...,24.2,274.58,3.8,61.34,482.4,31.3,2.600000,1862.0,195,6.562916
4,Merced Fire,Merced,2019-06-29,2019-06-29 15:09:52+00:00,2019-07-02 15:51:00+00:00,37.312877,-120.242411,210.0,3.028565,88.2,...,51.7,314.58,0.0,44.68,507.1,31.0,1.549999,2375.0,93,0.927410

In [ ]:
merged_data_final2.describe()

,Latitude,Longitude,Acres Burned,Duration,Maximum Temperature,Minimum Temperature,Temperature,Dew Point,Precipitation,Wind Speed,Wind Gust,Wind Direction,Cloud Cover,Relative Humidity,Solar Radiation,Solar Energy,PDSI,NDVI,Elevation,Slope
count,772.000000,772.000000,7.560000e+02,611.000000,766.000000,766.000000,766.000000,765.000000,772.000000,766.000000,589.000000,766.000000,765.000000,765.000000,751.000000,751.000000,771.000000,767.000000,772.000000,772.000000
mean,37.369828,-120.265851,9.492021e+03,15.199747,87.449347,58.601305,72.529373,44.021046,0.004301,14.914621,26.501868,207.878055,11.451895,42.960889,406.143542,23.899334,-1.359170,4031.308996,551.072539,8.501910
std,2.590080,2.749418,6.252553e+04,36.959680,11.763166,9.986184,10.271059,12.134597,0.091984,5.445693,8.226906,63.612006,17.649677,16.783268,103.516396,7.045521,2.815369,1659.645880,533.781870,8.236256
min,32.557546,-124.199540,2.000000e+00,-1.000602,50.800000,13.400000,30.800000,-8.600000,0.000000,3.300000,11.400000,40.000000,0.000000,6.290000,35.500000,1.500000,-8.520000,697.000000,-67.000000,0.000000
25%,34.800016,-121.931812,4.500000e+01,0.838866,80.200000,52.700000,66.300000,38.400000,0.000000,11.125000,20.800000,162.625000,0.000000,30.490000,339.100000,19.000000,-3.440000,2719.500000,162.500000,2.901299
50%,37.778075,-120.842110,1.205000e+02,2.720775,89.150000,58.500000,73.000000,47.000000,0.000000,14.000000,25.200000,206.970000,3.100000,41.120000,421.300000,24.700000,-1.890000,3629.000000,390.000000,5.414310
75%,39.319310,-118.788342,5.245000e+02,8.073125,96.475000,65.200000,80.000000,52.600000,0.000000,17.575000,31.200000,257.347500,15.400000,53.680000,486.700000,28.500000,1.400000,5059.000000,747.000000,11.501902
max,44.734000,-80.491630,1.032648e+06,218.874306,116.000000,86.800000,101.800000,65.900000,2.550000,42.500000,68.400000,340.130000,99.800000,97.600000,634.300000,52.300000,6.629999,8982.000000,2924.000000,60.446682

In [ ]:
# Drop columns used to make the wildfire scale value (such as acres or acres and duration before
# the machine learning models)